# Python
__pycache__/
*.pyc
*.pyo
*.pyd

# Virtual environments
venv/
.venv/
env/
shopvenv/
**/venv/
**/.venv/
**/env/
**/shopvenv/

# Django
db.sqlite3

# Node
node_modules/

# IDE
.idea/
.vscode/

# OS
.DS_Store
Thumbs.db
