* {
    box-sizing: border-box;
}
body {
    margin: 0;
    font-family: "instagram-sans", sans-serif;
}

.container .left img {
    width: 500px;
    margin: 18px;
    align-items: center;
}


.container .left .chicos {
    padding-right: 100px;
}

.container {
    display: flex;
    height: 97vh;
    align-items: center;
    max-width: 1060px;
    margin-inline: auto;
    padding: 0 20px;
    gap: 120px;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif;
}

.container .left {
    margin-top: 0;
    border-right: 1px solid #ddd;
}


.container .left h1 {
    font-weight: 350;
    font-size: 32px;
    line-height: 1.7;
    text-align: center;
    margin-left: -60px;
    margin-right: 100px;
    margin-bottom: -30px;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif;
}


/*this is for the linear gradient effect color the one for ig logo*/
.container .left .swag {
  background: linear-gradient(90deg, #405DE6, #833AB4, #C13584);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;}


.logo {
    position: absolute;
    top: 40px;
    left: 60px;
    width: 80px;
}

.fb-logo {
    width: 30px;
}

.meta-logo {
    width: 50px;
}




/*moving to the right side*/

h4 {
    text-align: left;
    margin-left: 20px;
    font-size: 20px;
    margin-top: 20px;
    font-weight: 400;
}
/*c pour le titre login to ig*/

.container .right {
    text-align: center;
}

form {
    display: flex;
    flex-direction: column;
    gap: 14px;
}

.form-container {
    padding: 14px;
    border-radius: 8px;
    box-shadow: rgba(0, 0, 0, 0.1);
    width: 550px;
    margin-bottom: 30px;
}


form input {
    padding: 14px;
    border-radius: 18px;
    font-size: 16px;
    border: 1px solid #dddfe2;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif;
}

form input:focus::placeholder {
    position: absolute;
    top: 0px;
    left: 15px;
    font-size: 12px;
    color: #a9a9a9;
}

form input:focus {
    border: 5px solid white;
}

form a {
    font-size: 14px;
    padding: 8px;
    padding-bottom: 20px;
    margin-bottom: 20px;
    text-decoration: none;
}


form a:hover {
    padding: 10px;
    border-radius: 18px;
    font-size: 16px;
    border: 1px solid gray;
    text-decoration: none;
    align-items: center;
}

.btn.fb {
    padding: 14px;
    font-size: 16px;
    font-weight: 250;
    text-decoration: none;
    align-items: center;
    margin-bottom: 14px;
}

.btn.fb img {
    position: absolute;
    margin-left: -200px;
}


button {
    display: flex;
    flex-direction: column;
    background: white;
    color: black;
    border: 1px solid gray;
    padding: 13px;
    border-radius: 36px;
    font-size: 16px;
    font-weight: 600;
    cursor: pointer;

}

button:hover {
    background-color: rgb(182, 182, 182);
}


.cna {
    color: #0064e0;
    border: 1px solid #0064e0;
    font-weight: 250;
    font-size: 16px;
    margin-top: -14px;
}

.meta-logo {
    align-items: center;
    margin-left: 235px;
}

.lgi {
    color: white;
    background-color: #0064e0;
}

/*little left footer*/

.ending {
    position: relative;
    top: -130px;
    margin-top: 60px;
    margin-left: 160px;
    width: 80%;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    flex: 0 0 auto;
    justify-content: center;
    align-items: stretch;
    align-content: stretch;
    border-top: 1px solid #ddd;
    padding-top: 16px;
}
.end-link {
    margin-right: 15px;
    color: rgb(142, 142, 142);
    text-decoration: none;
    font-size: 12px;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Helvetica, Arial, sans-serif;
}

.end-sl {
    position: relative;
    top: -130px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    font-size: 12px;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Helvetica, Arial, sans-serif;
    color: rgb(142, 142, 142);
}

select {
    color: rgb(142, 142, 142);
    font-size: 12px;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Helvetica, Arial, sans-serif;
}

option {
    color: rgb(142, 142, 142);
    font-size: 12px;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Helvetica, Arial, sans-serif;
}

.sel-lan {
    margin-top: 15px;
    border: none;
    background-color: rgb(250, 250, 250);
}

.meta-text {
    margin-top: 5px;
    margin-right: 30px;
}
/*This is for in case we are using a phone or smth with width <900*/
/* For screens smaller than 900px */
@media (max-width: 900px) {
    .container {
        flex-direction: column;
        gap: 0px;
        border-top: 1px solid #d8d8d8;
    }

    .logo {
        position: relative;
        margin-left: 270px;
        align-items: center;
        margin-bottom: 80px;
    }

    h2 {
        font-size: 24px;
        width: 400px;
        line-height: 1.2;
    }

    .container .left {
        margin-top: 40px;
    }

    /* Hide text and image on mobile */
    .container img:not(.meta-logo),
    .container h1 {
        display: none;
    }

    .meta-logo {
        display: block;
        margin: 0 auto;
        width: 60px;
    }
}